/*https://realtimecolors.com/?colors=c2dfe3-253237-a3dff5-000000-47bfeb

    Primary: #c2dfe3
    Secondary: #253237
    Primary Button: #a3dff5
    Secondary Button: #ffffff
    Accent: #89fd77

*/
a{
    color: #89fd77;
}
a:hover{
    color: #eaffaf;
}
a.active{
    color: #eaffaf;
}
body{
    background: #253237;
    color: #c2dfe3;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: #ffffff;
}
h2{
    margin-top: 10px;
    color: #a3dff5;
}
h5{
    color: #ffffff;
}
ul{
    margin-left: 25px;
}
.container{
    max-width: none;
}
.content{
    padding: 0 10px;
}
.img img{
    object-fit: cover;
}
.col-sm-9{
    padding: 0;
}
.img_url{
    display:block;
    margin-bottom: 30px;
    max-inline-size: 100%;
    block-size: auto;
}
.page_img{
    float: right;
    height: 80px;
    width: auto;
    margin-top: 10px;
}
.bg-purp{
    background-color: #632c96;
}
.bg-purp:hover{
    background-color: #9a46bb;
}
.bg-blk{
    background-color: #212529;
}
.bg-blk:hover{
    background-color: #47585f;
}
.bg-blue{
    background-color: #2c5696;
}
.bg-blue:hover{
    background-color: #387daa;
}
.bg-red{
    background-color: #dc3545;
}
.bg-red:hover{
    background-color: #ee4452;
}
.bg-green{
    background-color: #198754;
}
.bg-green:hover{
    background-color: #2ca85b;
}
.bg-grey{
    background-color: #6c757d;
}
.bg-grey:hover{
    background-color: #929aa0;
}
.bg-brown{
    background-color: #966a2c;
}
.bg-brown:hover{
    background-color: #af7839;
}