a{
    color: #9DB4C0;
}
a:hover{
    color: #E0FBFC;
}
a.active{
    color: #E0FBFC;
}
body{
    background: #5C6B73;
    color: #C2DFE3;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    color: white;
}
h2{
    color: #ee6c48;
}
h5{
    color: #83c000;
}
img{
    max-width: 500px;
}
ul{
    margin-left: 25px;
}
#contact, #experience, #education, #project, #tech {
    padding-top: 50px;
    margin-top: -50px;
}
#menu{
    background: #253237;
    width: 100%;
    max-height: 50px;
    padding: 10px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
#menu a{
    color: #9DB4C0;
    text-decoration: none;
}
#menu a:hover{
    color: #E0FBFC;
}
#menu span{
    margin: 0 30px;
}
.container{
    max-width: none;
}
.content{
    padding: 0 10px;
}
.img img{
    object-fit: cover;
}
.col-sm-9{
    padding: 0;
}
.img_url{
    display:block;
    margin-bottom: 30px;
    max-width: 500px;
}