{% extends "template.html" %}
{% block content %}
<h2>Gunpla</h2>
<div id="gunpla" class="row">
    {% for gunpla_yr in gunpla_list %}
    <div class="card bg-dark" style="padding-top: 10px; margin-bottom: 10px;">
        <h4>{{gunpla_yr.date}}</h4>
        {% for gunpla in gunpla_yr.arr %}
            <div class="card" style="padding: 10px;margin-bottom: 10px; background-color: #253237;">
                <details>
                    <summary style="color: #ffffff; font-size: 1.25rem;">{{ gunpla.name }}</summary>
                    <div class="col">
                        <a href="{{ gunpla.pic }}">
                            <img class="img_url" src="{{ gunpla.pic }}">
                        </a>
                    </div>
                </details>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock content %}