{% extends "template.html" %}
{% block content %}
<div class="row">
    <div class="card .bg-light picture_card col-sm-3" style="background-color: #632c96; height: 100px; margin: 10px">
        <a href="/resume">
            <img class="card-img page_img" src="../static/image/suitcase.png" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Resume</h5>
            </div>
        </a>
    </div>  
    <div class="card bg-dark text-white picture_card col-sm-3" style="height: 100px; margin: 10px">
        <a href="/cosplay">
            <img class="card-img page_img" src="../static/image/scissor.png" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Cosplay</h5>
            </div>
        </a>
    </div>  
    <div class="card text-white picture_card col-sm-3" style="background-color: #2c5696; height: 100px; margin: 10px">
        <a href="/panels">
            <img class="card-img page_img" src="../static/image/speech.png" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Panels</h5>
            </div>
        </a>
    </div>  
    <div class="card bg-danger text-white picture_card col-sm-3" style="height: 100px; margin: 10px">
        <a href="/gunpla">
            <img class="card-img page_img" src="../static/image/gundamhead.png" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Gunpla</h5>
            </div>
        </a>
    </div>  
    <div class="card bg-success text-white picture_card col-sm-3" style="height: 100px; margin: 10px">
        <a href="/gardening">
            <img class="card-img page_img" src="../static/image/wateringcan.png" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Gardening</h5>
            </div>
        </a>
    </div>  
    <div class="card bg-secondary text-white col-sm-3" style="height: 100px; margin: 10px">
        <a href="/photography">
            <img class="card-img page_img" src="../static/image/camera.png" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Photography</h5>
            </div>
        </a>
    </div>
    <div class="card text-white col-sm-3" style="background-color: #966a2c; height: 100px; margin: 10px">
        <a href="/woodworking">
            <img class="card-img page_img" src="../static/image/woodworking.png" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Woodworking</h5>
            </div>
        </a>
    </div>
</div>
{% endblock content %}