{% extends "template.html" %}
{% block content %}
<div class="row">
    <div class="card bg-purp picture_card col-sm-3" style=" height: 100px; margin: 10px">
        <a href="/resume">
            <img class="card-img page_img" src="../static/image/suitcase.png" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Resume</h5>
            </div>
        </a>
    </div>  
    <div class="card bg-blk picture_card col-sm-3" style="height: 100px; margin: 10px">
        <a href="/cosplay">
            <img class="card-img page_img" src="../static/image/scissor.png" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Cosplay</h5>
            </div>
        </a>
    </div>  
    <div class="card bg-blue picture_card col-sm-3" style="height: 100px; margin: 10px">
        <a href="/panels">
            <img class="card-img page_img" src="../static/image/speech.png" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Panels</h5>
            </div>
        </a>
    </div>  
    <div class="card bg-red picture_card col-sm-3" style="height: 100px; margin: 10px">
        <a href="/gunpla">
            <img class="card-img page_img" src="../static/image/gundamhead.png" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Gunpla</h5>
            </div>
        </a>
    </div>  
    <div class="card bg-green picture_card col-sm-3" style="height: 100px; margin: 10px">
        <a href="/gardening">
            <img class="card-img page_img" src="../static/image/wateringcan.png" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Gardening</h5>
            </div>
        </a>
    </div>  
    <div class="card bg-grey col-sm-3" style="height: 100px; margin: 10px">
        <a href="/photography">
            <img class="card-img page_img" src="../static/image/camera.png" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Photography</h5>
            </div>
        </a>
    </div>
    <div class="card bg-brown col-sm-3" style="height: 100px; margin: 10px">
        <a href="/woodworking">
            <img class="card-img page_img" src="../static/image/woodworking.png" alt="Card image">
            <div class="card-img-overlay">
                <h5 class="card-title">Woodworking</h5>
            </div>
        </a>
    </div>
</div>
{% endblock content %}